<nav>
        <ul class="header">
            <div>
                <a href="/"><img src="resources/logo.svg" class="login-btn" style="width: 13 vw;" alt=""></a>
            </div>

            {{!-- <li><a href="/home"></a>Home</li> --}}
            {{!-- <li><a href="/"></a>SignUp</li> --}}
            <li class="login-btn"><a href="/login" >Login</a></li>

        </ul>
    </nav>