<nav>
    <ul class="header">
        <div>
            <a href="/"><img src="resources/logo.svg" class="login-btn" style="width: 13 vw;" alt=""></a>
        </div>
        <div class="right-header">
            <li class="login-btn"><a href="/">Home</a></li>
            <li class="login-btn" id="hide"><a href="/secret">Profile</a></li>
            <li class="login-btn"><a href="/login">Login</a></li>
            <li class="login-btn" id="hide"><a href="/logout">Logout</a></li>
        </div>
    </ul>
</nav>